/* body */
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
/* header */

.header{
    background-color: rgb(121, 233, 255);
    width: 100%;
    height: 15vh;
    
}
.header img{
    height: 5vh;
    margin-top: 4vh;
    margin-left: 1%;
}

/* main section */
/* title section */
.main_div{
    width: 97%;
    margin-left: 1.5%;
}
#main_title{
   margin-top: 5vh;
   font-weight: 900;
   font-size: 30px;
   margin-bottom: 0;
}

.concatenated_text{
    margin: 0;
    color: grey;

}

.small_text{
    font-size: 10px;
}
#the_booleaner{
    color: blue;
}

/*  image section */
.image_section{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.image_section img{
    height: 300px;
}

/*paragraph and unordered list section*/
.yellow_background{
    background-color: yellow;
}

.main_div ul {
   margin-left: 0;
   padding: 0;
   list-style-position: inside;

}

/* table section */
.table_div{
    margin-top: 4vh;
    margin-bottom: 4vh;
}
table{
    
    width: 100%;
    margin: 0;
}
th{
    background-color: rgb(156, 161, 251);
    color: white;
}
td{
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }

/* footer */
#footer{
    height: 5vh;
    background-color: rgb(77, 42, 249);
    text-align: center;
    vertical-align: middle;
}

footer p {
    padding-top: 1.5vh;
    font-size: 2vh;
    color: white;
    font-weight: 300;
  }
